node_modules/
__data__/
__pgdata__/
.env
DECENNIALPL2020.P1_2025-03-19T213705/DECENNIALPL2020.P1-Column-Metadata.csv
DECENNIALPL2020.P1_2025-03-19T213705/DECENNIALPL2020.P1-Data.csv
DECENNIALPL2020.P1_2025-03-19T213705/DECENNIALPL2020.P1-Table-Notes.txt
DECENNIALPL2020.P1_2025-03-19T213705/pop2020.csv
gtfs_public/google_bus/agency.txt
gtfs_public/google_bus/calendar.txt
gtfs_public/google_bus/calendar_dates.txt
gtfs_public/google_bus/feed_info.txt
gtfs_public/google_bus/routes.txt
gtfs_public/google_bus/shapes.txt
gtfs_public/google_bus/stop_times.txt
gtfs_public/google_bus/stops.txt
gtfs_public/google_bus/trips.txt
gtfs_public/google_rail/agency.txt
gtfs_public/google_rail/calendar.txt
gtfs_public/google_rail/calendar_dates.txt
gtfs_public/google_rail/feed_info.txt
gtfs_public/google_rail/routes.txt
gtfs_public/google_rail/shapes.txt
gtfs_public/google_rail/stop_times.txt
gtfs_public/google_rail/stops.txt
gtfs_public/google_rail/trips.txt
philadelphia-neighborhoods.geojson
phl_pwd_parcels/PWD_PARCELS.cpg
phl_pwd_parcels/PWD_PARCELS.csv
phl_pwd_parcels/PWD_PARCELS.dbf
phl_pwd_parcels/PWD_PARCELS.geojson
phl_pwd_parcels/PWD_PARCELS.prj
phl_pwd_parcels/PWD_PARCELS.shp
phl_pwd_parcels/PWD_PARCELS.shx
phl_pwd_parcels/PWD_PARCELS.xml
